body {
    font: 11px sans-serif;    
}
article{
    overflow-x: auto;
}
.account-details{
    border: 2px solid blue;
    border-collapse: collapse;
    width:60%;
}
.account-details thead tr th{ 
    border-bottom: 1px solid grey; 
    padding: 3px;
}
.acccount-head{
    background-color: #d8d1d1;
    text-align: left;
}
.cash-head{
    text-align: right;
}
.highlight{
  background-color: #cac5c5;
}
.up-arrow{
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;       
        border-bottom: 5px solid blue; 
        display: inline-block;   
        margin-right: 3px;  
}
.profit-loss{
    color: grey;
}
.account-number{
    text-align:left;
    color: blue;
    font-size: 15px;
    padding:5px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.acccount-balance{
    text-align: right;
    padding:5px;
    border-bottom: 1px solid #ccc
}
.cash-available{
font-size: 14px;
}
.loss{
    font-size: 11px;
    color:red;
}
.profit{
    font-size: 11px;
    color:green;
}
.account-details tfoot tr td{
    text-align: center;
    padding:8px 0px;
    font-size: 13px;
    color: blue;
}

/*overflow-x: auto;*/
